<div class="toolbar-wrapper" role="banner">
  <div class="toolbar">
    <img src="/assets/logo-negative.svg" alt="ization Logo" class="logo">
    <h1>ization Demo Application</h1>
    <a aria-label="ization on GitHub" target="_blank" rel="noopener" href="https://github.com/ization/core" title="GitHub" class="github-logo">
      <img src="/assets/github.svg" alt="GitHub Logo">
    </a>
  </div>
</div>

<div class="content-wrapper">
  <div class="content-scroller">
    <main class="content">
      <details open>
        <summary><h2><code>@ization/core</code></h2></summary>

        <iz-core-demo></iz-core-demo>
      </details>

      <details open>
        <summary><h2><code>@ization/translate</code></h2></summary>

        <iz-translate-demo></iz-translate-demo>
      </details>

      <details open>
        <summary><h2><code>@ization/temporal</code></h2></summary>

        <iz-temporal-demo></iz-temporal-demo>
      </details>

      <details open>
        <summary><h2><code>@ization/moment</code></h2></summary>

        <iz-moment-demo></iz-moment-demo>
      </details>
    </main>
  </div>
</div>
